.wrap_bill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 3%;
}
.bill_type{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin: 1%;
    padding: 2%;
    background-color: #18181b;
    border-radius: 5px;
}
.bill_type:hover{
    border: 1px solid fuchsia;
}
.subscribe_btn{
    background-color: #404040;
    color: #8d8d8d;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}