.nextui-c-iWjDFM-kaRBtV-cv {
    background: transparent;
    color: var(--nextui-colors-primaryLightContrast);
    width: 70%;
    justify-content: space-between;
}
.custom_drop_style{
    background-color: yellow;
    margin: 5%;
}
.nextui-c-iWjDFM-exaRme-auto-true {
    
    width: 70%;
    min-width: min-content;
}